{% extends "base.html" %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block left-area-upper %}
<div class="image-container">
    <img src="{% static "img/espen.jpg" %}">
</div>

{% endblock %}

{% block right-area-upper %}
<div class="image-container">
    <img src="{% static "img/espen_flip.jpg" %}">
</div>

{% endblock %}

{% block middle %}
<div class="misc-flexbox">
    <a href="https://github.com/Espenbfo" class="item">Github</a>
    <a href="https://www.linkedin.com/in/ebfosseide/" class="item">Linkedin</a>
    <a href="http://recipe.fosseide.com" class="item">Recipe</a>
    <a href="http://cv.fosseide.com/cv.pdf" class="item">CV</a>
</div>
{% endblock %}
